@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 10px;
  margin: 8px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-14col {
  grid-column: span 14/span 14;
  grid-template-columns: repeat(14, minmax(0, 1fr));
}

.grid-15col {
  grid-column: span 15/span 15;
  grid-template-columns: repeat(15, minmax(0, 1fr));
}

.grid-16col {
  grid-column: span 16/span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.grid-21col {
  grid-column: span 21/span 21;
  grid-template-columns: repeat(21, minmax(0, 1fr));
}

.grid-23col {
  grid-column: span 23/span 23;
  grid-template-columns: repeat(23, minmax(0, 1fr));
}

.grid-close {
  gap: 2px !important;
}

.grid-table {
  margin: 0 !important;
  border-bottom: 1px solid #c9c7b8;
  gap: 0 3px;
}
.grid-table:last-child {
  border-bottom: none;
}

.grid-repeat {
  grid-template-rows: repeat(auto-fill, 16px);
  grid-auto-rows: auto;
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0 0 auto;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-left {
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to lone-wolf-fists sheets */
.lone-wolf-fists table {
  table-layout: fixed;
}
.lone-wolf-fists .item-form {
  font-family: "Roboto", sans-serif;
}
.lone-wolf-fists .imb-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.lone-wolf-fists .sheet {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.lone-wolf-fists .font-small {
  font-size: 8px;
}
.lone-wolf-fists #name {
  flex: 3;
}
.lone-wolf-fists #archName {
  flex: 2;
}
.lone-wolf-fists .indented-element {
  border: 1px solid #6e6d63;
  padding: 5px;
  margin: 5px;
}
.lone-wolf-fists .indented-element .indented-element {
  border: 1px solid #979588;
}
.lone-wolf-fists .active-chakras {
  position: relative;
}
.lone-wolf-fists .active-chakras img {
  position: absolute;
  height: 13px;
  width: 17px;
  border: none;
  cursor: pointer;
}
.lone-wolf-fists .active-chakras .chakra-increase {
  top: -2px;
  left: 26px;
}
.lone-wolf-fists .active-chakras .chakra-decrease {
  top: 13px;
  left: 26px;
}
.lone-wolf-fists .sidebar,
.lone-wolf-fists .sidebar-small {
  flex: 0 0 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  position: relative;
}
.lone-wolf-fists .sidebar-small {
  flex: 0 0 95px;
}
.lone-wolf-fists .inline-input {
  display: inline-block;
}
.lone-wolf-fists .margin-3 {
  margin: 0 3px;
}
.lone-wolf-fists .tech-label {
  margin: 0 !important;
  height: 18px;
  border-bottom: 1px solid #c9c7b8;
}
.lone-wolf-fists .small-box {
  width: 27px;
  margin: 0 3px;
}
.lone-wolf-fists .medium-box {
  width: 100px;
}
.lone-wolf-fists .large-box {
  width: 200px;
  margin: 0 3px;
}
.lone-wolf-fists .very-large-box {
  width: 400px;
  margin: 0 3px;
}
.lone-wolf-fists .skill-image {
  margin-top: 5px;
}
.lone-wolf-fists .chakra-image {
  border: none;
  margin-top: 5px;
  cursor: pointer;
  object-fit: contain;
}
.lone-wolf-fists .mastery-image {
  margin-top: 3px;
  border-style: groove;
  border-width: 2px;
  border-color: yellow;
}
.lone-wolf-fists .full-size {
  width: 100%;
}
.lone-wolf-fists .skill {
  margin-bottom: 0px !important;
}
.lone-wolf-fists .imbmain-body {
  display: flex;
  width: 100%;
  flex: 5 1 auto;
  align-items: top;
  margin: 5px;
}
.lone-wolf-fists .resource {
  margin-top: 3px;
}
.lone-wolf-fists .inner-margin {
  margin-left: 5px;
  margin-right: 5px;
}
.lone-wolf-fists .sheet-top {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: top !important;
}
.lone-wolf-fists .sheet-top .health-prana {
  display: flex;
}
.lone-wolf-fists .sheet-top .damage {
  flex: 2 1 auto;
}
.lone-wolf-fists .sheet-top .prana {
  flex: 1 1 auto;
  margin: 10px;
}
.lone-wolf-fists .sheet-top .core-stats {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  justify-content: space-between;
  align-items: center;
}
.lone-wolf-fists .sheet-top .stat-input {
  flex: 0 0 25px;
}
.lone-wolf-fists .sheet-top .profile-img {
  flex: 0 0 100px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
.lone-wolf-fists .sheet-top .header-fields {
  flex: 1;
}
.lone-wolf-fists .sheet-top h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.lone-wolf-fists .sheet-top h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.lone-wolf-fists .armor-icon {
  position: relative;
  width: 36px;
  height: 36px;
  border: none;
}
.lone-wolf-fists .armor-icon .armor-value {
  position: absolute;
  top: 10px;
  left: 0px;
  text-align: center;
}
.lone-wolf-fists .armor-icon img {
  border: none;
}
.lone-wolf-fists .item-sheet-line {
  margin-bottom: 5px;
}
.lone-wolf-fists .sheet-tabs {
  flex: 0;
}
.lone-wolf-fists .sheet-body,
.lone-wolf-fists .sheet-body .tab,
.lone-wolf-fists .sheet-body .tab .editor {
  height: 100%;
}
.lone-wolf-fists .tox .tox-editor-container {
  background: #fff;
}
.lone-wolf-fists .tox .tox-edit-area {
  padding: 0 8px;
}
.lone-wolf-fists .resource-label {
  font-weight: bold;
  text-align: center;
  padding-right: auto;
  letter-spacing: 2px;
}
.lone-wolf-fists .pool-label {
  font-size: 10px;
}
.lone-wolf-fists .active-prana-gen {
  font-weight: bold;
  color: green;
}
.lone-wolf-fists .prana-gen {
  color: rgba(128, 128, 128, 0.5);
}
.lone-wolf-fists input {
  text-align: center;
}
.lone-wolf-fists input.left {
  text-align: left;
}
.lone-wolf-fists textarea {
  resize: none;
  font-family: "Roboto", sans-serif;
}
.lone-wolf-fists .items-header {
  height: 25px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.lone-wolf-fists .items-header > * {
  font-size: 14px;
  text-align: center;
}
.lone-wolf-fists .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.lone-wolf-fists .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.lone-wolf-fists .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lone-wolf-fists .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.lone-wolf-fists .items-list .item-name h3, .lone-wolf-fists .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.lone-wolf-fists .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.lone-wolf-fists .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.lone-wolf-fists .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.lone-wolf-fists .items-list .item:last-child {
  border-bottom: none;
}
.lone-wolf-fists .items-list .item .item-name {
  color: #191813;
}
.lone-wolf-fists .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
  margin-top: 2px;
}
.lone-wolf-fists .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.lone-wolf-fists .items-list .items-header {
  height: 25px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.lone-wolf-fists .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.lone-wolf-fists .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.lone-wolf-fists .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.lone-wolf-fists .effects .item .effect-source,
.lone-wolf-fists .effects .item .effect-duration,
.lone-wolf-fists .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.lone-wolf-fists .effects .item .effect-controls {
  border: none;
}

/*# sourceMappingURL=lone-wolf-fists.css.map */
