<div>
    {{#each sets}}
    <div id="dice-set-{{this}}" class="inline-grid dice-set" data-facing="{{this}}">
        {{#each this}}
        <div class="individual-dice">
            <img class="dice-image" src="systems/lone-wolf-fists/assets/dice/d10-{{this}}.png" title="d10-{{this}}" height="40" width="40">
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>