<div>
  <header>Deed</header>
  <div>
      {{editor
        system.deed
        target='system.deed'
        engine='prosemirror'
        button=true
        editable=editable
      }}
  </div>
  <header>Vice</header>
  <div>
      {{editor
        system.vice
        target='system.vice'
        engine='prosemirror'
        button=true
        editable=editable
      }}
  </div>
    <header>Landmark</header>
  <div>
      {{editor
        system.landmark
        target='system.landmark'
        engine='prosemirror'
        button=true
        editable=editable
      }}
  </div>
</div>
